.sb-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px 0 #e2e2e2;
  word-wrap: break-word;
  font-size: 1rem; }
  .sb-card .sb-card-header {
    margin-bottom: 0;
    background: #f7f7f7;
    overflow: hidden;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #efefef; }
    .sb-card .sb-card-header:first-child {
      border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0; }
  .sb-card .sb-card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
    .sb-card .sb-card-body h1:first-child, .sb-card .sb-card-body h2:first-child, .sb-card .sb-card-body h3:first-child, .sb-card .sb-card-body h4:first-child, .sb-card .sb-card-body h5:first-child, .sb-card .sb-card-body h6:first-child, .sb-card .sb-card-body p:first-child {
      margin-top: 0; }
    .sb-card .sb-card-body h1:last-child, .sb-card .sb-card-body h2:last-child, .sb-card .sb-card-body h3:last-child, .sb-card .sb-card-body h4:last-child, .sb-card .sb-card-body h5:last-child, .sb-card .sb-card-body h6:last-child, .sb-card .sb-card-body p:last-child {
      margin-bottom: 0; }
  .sb-card .sb-card-footer {
    margin-top: 0;
    background: #f7f7f7;
    overflow: hidden;
    padding: 0.75rem 1.25rem;
    border-top: 1px solid #efefef; }
    .sb-card .sb-card-footer:last-child {
      border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px); }
