* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}

// .sb-countdown-days {
//     color: red;
// }

code {
    display: block;
    background: rgb(39, 39, 39);
    color: white;
    padding: 25px;
    margin: 25px 0;
    font-family: monospace
}
