.sb-button {
    $base-padding-x: 10px;
    $base-padding-y: 20px;

    border: none;
    border-radius: $base-border-radius;
    transition: $base-transition;
    text-decoration: none;
    box-shadow: $base-shadow;
    cursor: pointer;

    &.block {
        display: block;
        width: 100%;
    }

    &:focus {
        box-shadow: 0 0 1px 2px rgb(59, 59, 59);
    }

    &:hover {
        filter: brightness(90%);
    }

    &.size-sm {
        padding: $base-padding-x / 1.5 $base-padding-y / 1.5;
    }

    &.size-default {
        padding: $base-padding-x $base-padding-y;
    }

    &.size-lg {
        padding: $base-padding-x * 1.5 $base-padding-y * 1.5;
    }

    &.size-xl {
        padding: $base-padding-x * 3 $base-padding-y * 3;
    }
}
