// Global Styling
//
// Use these classes to add these effects to pretty much anything.

* {
    box-sizing: border-box;
    font-family: $font-default;
}

body {
    margin: 0;
}

// Backgrounds
.bg-default {
    background-color: $color-default !important;
}
.bg-blue {
    background-color: $color-blue !important;
}
.bg-green {
    background-color: $color-green !important;
}
.bg-red {
    background-color: $color-red !important;
}
.bg-orange {
    background-color: $color-orange !important;
}
.bg-yellow {
    background-color: $color-yellow !important;
}
.bg-purple {
    background-color: $color-purple !important;
}
.bg-black {
    background-color: $color-black !important;
}
.bg-white {
    background-color: $color-white !important;
}
.bg-shade {
    background-color: $color-shade !important;
}

// Text Colour
.color-default {
    color: $color-black !important;
}
.color-blue {
    color: $color-blue !important;
}
.color-green {
    color: $color-green !important;
}
.color-red {
    color: $color-red !important;
}
.color-orange {
    color: $color-orange !important;
}
.color-yellow {
    color: $color-yellow !important;
}
.color-purple {
    color: $color-purple !important;
}
.color-black {
    color: $color-black !important;
}
.color-white {
    color: $color-white !important;
}

// Font Sizes
p,
ul,
li {
    font-size: $base-font-size;
}
h1 {
    font-size: $base-font-size * 2.5;
    &.big {
        font-size: 6rem;
    }
}
h2 {
    font-size: $base-font-size * 2;
    &.big {
        font-size: 5.5rem;
    }
}
h3 {
    font-size: $base-font-size * 1.75;
    &.big {
        font-size: 4.5rem;
    }
}
h4 {
    font-size: $base-font-size * 1.5;
    &.big {
        font-size: 3.5rem;
    }
}
h5 {
    font-size: $base-font-size * 1.25;
}
h6 {
    font-size: $base-font-size;
}

.size-sm {
    font-size: $base-font-size / 1.5;
}

.size-default {
    font-size: $base-font-size;
}

.size-lg {
    font-size: $base-font-size * 1.5;
}

.size-xl {
    font-size: $base-font-size * 3;
}

// Border Colour
.border-default {
    border-color: $color-black !important;
}
.border-blue {
    border-color: $color-blue !important;
}
.border-green {
    border-color: $color-green !important;
}
.border-red {
    border-color: $color-red !important;
}
.border-orange {
    border-color: $color-orange !important;
}
.border-yellow {
    border-color: $color-yellow !important;
}
.border-purple {
    border-color: $color-purple !important;
}
.border-black {
    border-color: $color-black !important;
}
.border-white {
    border-color: $color-white !important;
}

// Misc
a {
    color: $anchor-color;
    text-decoration: $anchor-decoration;
}
