.sb-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    &.fluid {
        max-width: 100vw;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.sb-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sb-col {
    flex-grow: 1;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    .no_margin {
        margin: 0;
    }

    &_auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    &_12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &_11 {
        flex: 0 0 calc(100% / 1.090909);
        max-width: calc(100% / 1.090909);
    }

    &_10 {
        flex: 0 0 calc(100% / 1.2);
        max-width: calc(100% / 1.2);
    }

    &_9 {
        flex: 0 0 calc(100% / 1.333333);
        max-width: calc(100% / 1.333333);
    }

    &_8 {
        flex: 0 0 calc(100% / 1.5);
        max-width: calc(100% / 1.5);
    }

    &_7 {
        flex: 0 0 calc(100% / 1.714285);
        max-width: calc(100% / 1.714285);
    }

    &_6 {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }

    &_5 {
        flex: 0 0 calc(100% / 2.4);
        max-width: calc(100% / 2.4);
    }

    &_4 {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }

    &_3 {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }

    &_2 {
        flex: 0 0 calc(100% / 6);
        max-width: calc(100% / 6);
    }

    &_1 {
        flex: 0 0 calc(100% / 12);
        max-width: calc(100% / 12);
    }
}

@media (min-width: 576px) {
    .sb-col_sm {
        flex-grow: 1;
        max-width: 100%;

        &_auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }

        &_12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &_11 {
            flex: 0 0 calc(100% / 1.090909);
            max-width: calc(100% / 1.090909);
        }

        &_10 {
            flex: 0 0 calc(100% / 1.2);
            max-width: calc(100% / 1.2);
        }

        &_9 {
            flex: 0 0 calc(100% / 1.333333);
            max-width: calc(100% / 1.333333);
        }

        &_8 {
            flex: 0 0 calc(100% / 1.5);
            max-width: calc(100% / 1.5);
        }

        &_7 {
            flex: 0 0 calc(100% / 1.714285);
            max-width: calc(100% / 1.714285);
        }

        &_6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &_5 {
            flex: 0 0 calc(100% / 2.4);
            max-width: calc(100% / 2.4);
        }

        &_4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &_3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &_2 {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        &_1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }
    }
}

@media (min-width: 768px) {
    .sb-col_md {
        flex-grow: 1;
        max-width: 100%;

        &_auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }

        &_12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &_11 {
            flex: 0 0 calc(100% / 1.090909);
            max-width: calc(100% / 1.090909);
        }

        &_10 {
            flex: 0 0 calc(100% / 1.2);
            max-width: calc(100% / 1.2);
        }

        &_9 {
            flex: 0 0 calc(100% / 1.333333);
            max-width: calc(100% / 1.333333);
        }

        &_8 {
            flex: 0 0 calc(100% / 1.5);
            max-width: calc(100% / 1.5);
        }

        &_7 {
            flex: 0 0 calc(100% / 1.714285);
            max-width: calc(100% / 1.714285);
        }

        &_6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &_5 {
            flex: 0 0 calc(100% / 2.4);
            max-width: calc(100% / 2.4);
        }

        &_4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &_3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &_2 {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        &_1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }
    }
}

@media (min-width: 992px) {
    .sb-col_lg {
        flex-grow: 1;
        max-width: 100%;

        &_auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }

        &_12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &_11 {
            flex: 0 0 calc(100% / 1.090909);
            max-width: calc(100% / 1.090909);
        }

        &_10 {
            flex: 0 0 calc(100% / 1.2);
            max-width: calc(100% / 1.2);
        }

        &_9 {
            flex: 0 0 calc(100% / 1.333333);
            max-width: calc(100% / 1.333333);
        }

        &_8 {
            flex: 0 0 calc(100% / 1.5);
            max-width: calc(100% / 1.5);
        }

        &_7 {
            flex: 0 0 calc(100% / 1.714285);
            max-width: calc(100% / 1.714285);
        }

        &_6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &_5 {
            flex: 0 0 calc(100% / 2.4);
            max-width: calc(100% / 2.4);
        }

        &_4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &_3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &_2 {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        &_1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }
    }
}

@media (min-width: 1200px) {
    .sb-col_xl {
        flex-grow: 1;
        max-width: 100%;

        &_auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }

        &_12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &_11 {
            flex: 0 0 calc(100% / 1.090909);
            max-width: calc(100% / 1.090909);
        }

        &_10 {
            flex: 0 0 calc(100% / 1.2);
            max-width: calc(100% / 1.2);
        }

        &_9 {
            flex: 0 0 calc(100% / 1.333333);
            max-width: calc(100% / 1.333333);
        }

        &_8 {
            flex: 0 0 calc(100% / 1.5);
            max-width: calc(100% / 1.5);
        }

        &_7 {
            flex: 0 0 calc(100% / 1.714285);
            max-width: calc(100% / 1.714285);
        }

        &_6 {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        &_5 {
            flex: 0 0 calc(100% / 2.4);
            max-width: calc(100% / 2.4);
        }

        &_4 {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        &_3 {
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        &_2 {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        &_1 {
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }
    }
}
