.sb-nav {
    width: 100vw;
    min-height: 60px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

    .sb-container {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    }

    .sb-nav-title {
        display: inline;
        font-size: $base-font-size * 1.5;
    }

    .sb-nav-menu {
        display: flex;
        flex-direction: row;

        span {
            margin-left: 1rem;
            transition: $base-transition;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    a {
        color: $color-white;
        text-decoration: none;
    }
}
