// Colours
$color-default: #afafaf;

$color-blue: rgb(71, 166, 255) !default;
$color-green: rgb(23, 243, 195) !default;
$color-red: rgb(240, 73, 44) !default;
$color-orange: rgb(243, 173, 23) !default;
$color-yellow: rgb(243, 228, 23) !default;
$color-purple: rgb(160, 60, 226) !default;

$color-black: #333333 !default;
$color-white: #ffffff !default;
$color-shade: #f7f7f7 !default;

// Base Values
$spacer: 1rem !default;
$base-font-size: 1rem !default;
$base-transition: 0.2s !default;
$base-border-radius: 4px !default;
$base-shadow: 0 0 15px 0 #dddddd !default;

// Fonts
$font-default: sans-serif !default;
